.container{
    width: 1000px;
    margin: auto;
}

.container .control{
    background-color: #ffec9d;
}

.sectionOne .container{
    background-color: #8b8fff;
}

.game_arena{

    display: grid;
    width: 230px;
    padding: 5px;
    margin: auto;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(3, 50px);
    grid-gap: 10px;
    border: 1px #1a01ff double;
}

.area{
    border: solid 1px black;
    border-radius: 5px;
    display: block;
}



.footer{
    background-color: #8b8fff;
}